<div class="col s12">
	<p>加我微信：
		<img src="/assets/res/my-weixin.png" class="my-weixin" />
	</p>
	<hr>
	<p>加我QQ：
		<a href="http://wpa.qq.com/msgrd?v=3&uin=2386209384&site=qq&menu=yes">295771257</a>
	</p>
	<hr>
	<!-- <p>给我发邮件：<a href="mailto:2386209384@qq.com">2386209384@qq.com</a></p> -->
	<p>邮箱：
		<a target="_blank" href="https://mail.qq.com/cgi-bin/frame_html?sid=IViugJwne9raGAlX&r=76931af159f84ab38ddf8489f23336d4"
		style="text-decoration:none; "><img
		src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png" /></a>
	</p>
	<hr>
	<p>或者：
		<a href="https://user.qzone.qq.com/295771257/infocenter" target="_blank">给我留言</a>
	</p>
	<hr>
</div>
